name: CI Qualité Logicielle

on:
  push:
    branches: [ "main", "master", "test" ]
  pull_request:
    branches: [ "main", "master", "test" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # 1. Récupérer le code
    - uses: actions/checkout@v3

    # 2. Installer uv
    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        enable-cache: true

    # 3. Installer Python via uv
    - name: Set up Python 3.11
      run: uv python install 3.11

    # 4. Vérification du style avec Ruff
    - name: Lint with Ruff
      run: uv run ruff check .
        
    # 5. Vérification des types avec Mypy
    # On pointe vers le dossier src où se trouve ton code
    - name: Type checking with mypy
      run: uv run mypy src/ --ignore-missing-imports

    # 6. Tests et Couverture
    # On définit le PYTHONPATH pour que pytest trouve le dossier 'src'
    # On lance pytest sur le dossier 'Test'
    - name: Test with pytest and coverage
      env:
        PYTHONPATH: src
      run: |
        uv run pytest Test/test_ferme.py --cov=src --cov-fail-under=80